.backdrop {
    position: fixed;
    inset: 2px;
    display: flex;
    justify-content: center;
}


.modalWindow {
    position: fixed;
    top: 40px;
    bottom: 40px;
    overflow: hidden;
    border: 1.5px solid #1a1a1a;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 11px;
}

.imageModal {
    height: 100%;
    width: 100%;
    object-fit: cover;
}